.file_tree {
  width: 650px;
  height: 400px;
  border-top: solid 1px #BBB;
  border-left: solid 1px #BBB;
  border-bottom: solid 1px #FFF;
  border-right: solid 1px #FFF;
  background: #FFF;
  overflow: scroll;
  padding: 5px;
  margin-left: 20px;
 }

ul.camera_list {
  margin-left: 10px;
  margin-top: 10px;
  font: 80% "Trebuchet MS", sans-serif;
  list-style-type: inherit
  list-style-image: inherit;
  list-style-position: inside;
}
ul.camera_list_in {
  list-style-type: square;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
table.layout {
  float:left;
  border-width: 1px;
  border-spacing: 0px;
  border-style: dashed;
  border-color: #aaaaaa;
  border-collapse: collapse;
}
table.layout td {
  border-width: 1px;
  padding: 0px;
  border-style: dashed;
  border-color: #aaaaaa;
}
table.layout_list {
  float:left;
  table-layout:fixed;
  width:34 ;height:34px;
  margin: 0px 8px 0px 0px;
  border-width: 1px;
  border-spacing: 0px;
  border-style: solid;
  border-color: #aaaaaa;
  border-collapse: collapse;
}
table.layout_list td {
  table-layout:fixed;
  border-width: 1px;
  border-style: solid;
  border-color: #aaaaaa;
}

table.normal {
  float:left;
  table-layout:fixed;
  width:100% ;height:100%;
  margin: 0px; 
  border-width: 1px;
  border-spacing: 0px;
  border-style: solid;
  border-color: #aaaaaa;
  border-collapse: collapse;
}
table.normal td {
  overflow:hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #aaaaaa;
}
.no_show{
  margin-top:5px;
  height:1px;
  border:none;
}
.hr_line{
  margin-bottom:5px;
  margin-top:5px;
  color:#aaaaaa;
  background-color:#aaaaaa;
  height:1px;
  border:none;
}
.div_tab50{
   margin-left:50px;
}
.div_in_leg{
   margin-top:5px;
   margin-left:60px;
}
.hr_alert_day{
   width:400px;
   margin-top:10px;
   margin-bottom:10px;
   margin-left:0px;
   border:1px solid #aaaaaa;
}
.example_post { padding-top:5px; padding-bottom:10px; } 
.table_setting1{
   margin-left:50px;
   position:relative;vertical-align:top;
   font: 85% "Trebuchet MS", sans-serif;
}
.table_0{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font: 100% "Trebuchet MS", sans-serif;
}
.table_setting td 
{
   position:relative;vertical-align:top;
   font: 80% "Trebuchet MS", sans-serif;
}
.td_right {text-align: right;} 
.td_top {position:relative;vertical-align:top;} 
.td_right_top {position:relative;vertical-align:top;text-align: right;} 
.td_center { text-align: center; }
.setting_div{
   padding-top:10px;
   padding-left:20px;
   font: 85% "Trebuchet MS", sans-serif;
}

.fieldset_alert
{
  width:90%;
  border:1px solid #aaaaaa;
  padding-left:30px;
  padding-top: 0px;
  padding-bottom: 0px;
 }

.fieldset_setting
{
  width:600px;
  border:1px solid #aaaaaa;
  padding-left:30px;
  padding-top: 10px;
  padding-bottom: 20px;
 }

.legend_setting
{
  padding-right:10px;
  padding-left:10px;
}

 /*td { border:1px dotted black; }*/ 
   #datepicker{ font: 62.5% "Trebuchet MS", sans-serif;}
  .page { padding:0px 0px 0px 0px;}
  .date_p {height:185px; padding:0px 0px 0px 7px;}
  .w_max { width:100%; }
  .sub_m { width:250px;}
  .w_ten { height:10px; }
  .v_top {vertical-align: top; }
  .cal_m { vertical-align: top; height:190px;}
  .w_detail { width:15px; }
  .no { margin-top:5px;margin-bottom:0px;padding:0px 0px 0px 25px;}
  .cg { height:20px; width:30px; background:  url(../calendar/images/d_g.png) 90% 80% repeat-x; }
  .cy { height:20px; width:30px; background:  url(../calendar/images/d_y.png) 90% 80% repeat-x; }
  .cb { height:20px; width:30px; background:  url(../calendar/images/d_b.png) 90% 80% repeat-x; }
  .cr { height:20px; width:30px; background:  url(../calendar/images/d_r.png) 90% 80% repeat-x; }
  .cs { height:20px; width:30px; background:  url(../calendar/images/ui-bg_flat_55_fbec88_40x100.png) 90% 80% repeat-x; }
  .ct { height:20px; width:30px; background:  url(../calendar/images/d_t.png) 90% 80% repeat-x; }
  .foot_div { 
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #888;
   }
/*html {overflow:auto;}*/
body {background:url("../design/bg.gif") 0 0 repeat-x; font:0.8em/1.5 "arial", sans-serif;}

h1, h2, h3, h4, h5, h6, p, address, blockquote, table, dl, fieldset {margin:15px 0;}

ul.ul-01 {margin:0px 0; list-style:none;}
ul.ul-01 li {padding:2px 0 2px 25px; background:url("../design/ul-01.gif") 0 50% no-repeat; font-size:85%;}

ul.ul-list {margin:15px 0; list-style:none;}
ul.ul-list li {padding:1px 0;}
ul.ul-list span.date {padding-right:10px;}

#main {width:100%; margin:0 auto; overflow:hidden;}

    #header {position:relative; height:100px; padding:25px 20px 5px 20px;}

        #logo {margin:0;}
    
        #nav {position:absolute; top:30px; right:20px; margin:0;}
        #nav span {margin:0 8px;}
        #nav #nav-active {font-weight:bold; text-decoration:none;}
    
    #tray {position:relative; /*width:100%;*/ height:45px; background:url("../design/tray1.gif") 0 0 repeat-x; overflow:hidden; font:bold 90%/1 "tahoma",sans-serif;}
    #tray ul {margin:0 20px; list-style:none;}
    #tray li {display:inline;}
    #tray li a {display:block; float:left; padding:17px 20px 17px 18px; background:url("../design/tray-separator.gif") 100% 0 no-repeat; text-decoration:none;}
    #tray li a:hover {background:url("../design/tray-hover.gif");}
    #tray li#tray-active a {background:url("../design/tray-active.gif");}

        #search {position:absolute; top:8px; right:20px;}
        #search div {position:relative; width:185px;}
        
        #search #search-input {position:absolute; top:0; left:0; width:150px; height:30px; background:url("../design/search-input.gif") 0 0 no-repeat; overflow:hidden;}
        #search #search-input input {width:136px; margin:8px; border:0; font:100%/1 "arial",sans-serif;}
        #search #search-submit {position:absolute; top:0; right:0; width:30px;}

    #footer {clear:both; padding:5px 20px 20px 20px; font-size:85%;}
    #footer p {margin:0; }

#col-top {width:100%; height:5px; margin-top:0px; background:url("../design/col-top.gif") 0 0 repeat-x; font-size:0; line-height:0; /*overflow:hidden;*/}
#col-bottom {width:100%; height:5px; margin-bottom:15px; background:url("../design/col-bottom.gif") 0 0 repeat-x; font-size:0; line-height:0; overflow:hidden;}
#col {position:relative; padding:0px 30px 15px 20px; /*background:url("../design/col.gif") 0 0 repeat-y;*/}

    #ribbon {position:absolute; top:-5px; left:0; width:100px; height:100px; background:url("../design/ribbon.gif") 0 0 no-repeat; font-size:0; line-height:0; overflow:hidden; z-index:10;}

    #col-browser {position:relative; float:left; width:280px; height:215px; background:url("../design/browser.gif") 0 0 no-repeat;}
    #col-browser img {position:absolute; top:28px; left:10px;}

    #col-text {float:right; width:600px; padding-top:15px; line-height:1.7;}

        #slogan {position:relative; width:289px; height:33px; overflow:hidden; margin:0; padding:0; font-size:180%;}
        #slogan span {display:block; position:absolute; top:0; left:0; z-index:1; width:100%; height:100%; margin:0; padding:0; background:url("../tmp/slogan.gif") 0 0 no-repeat;}
        #btns {margin-top:25px; margin-bottom:0;}

#cols2-top {width:960px; height:5px; margin-top:15px; background:url("../design/cols2-top.gif") 0 0 no-repeat; font-size:0; line-height:0; overflow:hidden;}
#cols2-bottom {width:960px; height:5px; margin-bottom:15px; background:url("../design/cols2-bottom.gif") 0 0 no-repeat; font-size:0; line-height:0; overflow:hidden;}
#cols2 {background:url("../design/cols2.gif") 0 0 repeat-y;}

    #cols2 #col-left {float:left; width:595px; padding:20px;}
    #cols2 #col-right {float:right; width:268px; margin-right:1px; padding:20px;}
    
        #cols2 #col-left h4, #cols2 #col-right h4 {margin:0; font-size:100%;}
        #cols2 #col-left .title {background:url("../design/dot.gif") 0 50% repeat-x;}
        #cols2 #col-left .title h4 {display:inline; padding-right:10px;}
        #cols2 #col-left .title span {padding-left:10px;}

        #cols2 .box {margin-top:15px;}
        #cols2 #col-right h4 {background:url("../design/dot-02.gif") 0 50% repeat-x;}
        #cols2 #col-right h4 span {padding-right:10px;}
        #cols2 .col-right-img {float:left; width:65px;}
        #cols2 .col-right-text {float:right; width:190px;}
        #cols2 .col-right-text p {margin:0;}

#cols3-top {width:250px; height:5px; margin-top:0px; background:url("../design/cols3-top.gif") 0 0 no-repeat; font-size:0; line-height:0; overflow:hidden;}
#cols3-bottom {width:250px; height:5px; margin-bottom:15px; background:url("../design/cols3-bottom.gif") 0 0 no-repeat; font-size:0; line-height:0; overflow:hidden;}
#cols3 {width:250px;background:url("../design/cols3.gif") 0 0 repeat-y;}
    
    .col {float:left; width:248px; padding:0 1px; margin-right:15px;}
    .col1 {float:left; width:100%; padding:0 10px; margin-right:15px;}
    .col.last {margin-right:0;}
    .col h3 {margin:0; padding:15px 15px 10px 50px; background:url("../design/cols3-title.gif") 20px 40% no-repeat; font-size:120%;}

        .col-text {padding:20px; border-top:1px solid #DFDFDF;}
        .col-text p {margin:0;}
        .col-text ul {margin-bottom:0;}
        .col-more {padding:10px 10px 1px 0; text-align:right;}

.ico-comment {padding-left:18px; background:url("../design/ico-comment.gif") 0 50% no-repeat;}
.ico-rss {padding-left:18px; background:url("../design/ico-rss.gif") 0 50% no-repeat;}

.smaller {font-size:85%;}

/*custom*/
.table_rec { 
  margin-left:40px; margin-top:0px; margin-bottom:0px; margin-right:25px; 
  border-collapse: collapse;
  /*border-width: 1px; border-style: solid; border-color: #aaaaaa;*/
 }
.table_rec td { font: 80% "Trebuchet MS", sans-serif; }

.even_0 {
  float:left; margin: 10px; padding: 7px;
  -moz-box-shadow: 0 0 5px 5px green; -webkit-box-shadow: 0 0 5px 5px green; box-shadow: 0 0 5px 5px green;
}
.even_1 {
  float:left; margin: 10px; padding: 7px;
  -moz-box-shadow: 0 0 5px 5px yellow; -webkit-box-shadow: 0 0 5px 5px yellow; box-shadow: 0 0 5px 5px yellow;
}
.even_2 {
  float:left; margin: 10px; padding: 7px;
  -moz-box-shadow: 0 0 5px 5px blue; -webkit-box-shadow: 0 0 5px 5px blue; box-shadow: 0 0 5px 5px blue;
}
.even_3 {
  float:left; margin: 10px; padding: 7px;
  -moz-box-shadow: 0 0 5px 5px red; -webkit-box-shadow: 0 0 5px 5px red; box-shadow: 0 0 5px 5px red;
}

.even_0 img {
  width:150px; height:auto; margin: 7px;
  -moz-box-shadow: 0 0 3px 3px green; -webkit-box-shadow: 0 0 3px 3px green; box-shadow: 0 0 3px 3px green;
}
.even_1 img {
  width:150px; height:auto; margin: 7px;
  -moz-box-shadow: 0 0 3px 3px yellow; -webkit-box-shadow: 0 0 3px 3px yellow; box-shadow: 0 0 3px 3px yellow;
}
.even_2 img {
  width:150px; height:auto; margin: 7px;
  -moz-box-shadow: 0 0 3px 3px blue; -webkit-box-shadow: 0 0 3px 3px blue; box-shadow: 0 0 3px 3px blue;
}
.even_3 img {
  width:150px; height:auto; margin: 7px;
  -moz-box-shadow: 0 0 3px 3px red; -webkit-box-shadow: 0 0 3px 3px red; box-shadow: 0 0 3px 3px red;
}

.table_even { margin:0px; padding:0px; border-collapse: collapse; }
.table_even td { margin:0px; padding:0px; }

.table_even1 { width:110px; float:left; margin:0px 0px 5px 0px; padding:0px; border-collapse: collapse; }
.table_even1 td { margin:0px; padding:0px; }

.table_zoom { margin:0px; padding:0px; border-collapse: collapse; }
.table_zoom td { margin:0px; padding:0px; }

#main_layout { padding: 10px }
.button_zoom { 
  table-layout:fixed;
  width:100%; float:left; margin:0px; padding:0px; border-collapse: collapse;
  font: 75% "Trebuchet MS", sans-serif; 
  text-align:right; 
 }
.bottom_zoom td { margin:0px; padding:0px; }
